@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');
 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #ffffff;
    }
    main {
         width: 100%;
         height: 100vh;
        background: linear-gradient( 45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100% ), url("bg-img.jpg") center center no-repeat;
        background-size: cover;
    }
    .container{
       width: 100%;
       margin: 0 auto; 
    }
    header{
        width: 100%;
        height: 60px;
        background-color: #1806b9cc;
        display: flex;
        align-items: center;
        justify-content: space-around;

        
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    }
   nav{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   ul{
    display: flex;
   }
   nav ul li{
    list-style: none;
   }

   nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins';
    padding: 10px 0 10px 24px;
    font-size: 15px;
   }
   
   nav ul li .border-active{
    border: 1px solid #ffffff;
    padding: 8px 25px;
    margin: 0 30px;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Poppins';
    font-weight: 600;
   }



    .second-section{
        width: 100%;
        height: 100vh;
        /* background-color: red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .text{
        /* width: 45%; */
        margin-left: 140px ;
        /* background-color: yellow; */
    }
    .h1-text{
        font-size: 52px;
        color: #ffffff;
        font-family: 'Poppins';
        font-weight: 700;
        text-shadow: 4px 3px 5px #000000;
    }
    .parag{
        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 500;
        color: #ffffffcc;
    }
    .h1-text2{
        font-size: 52px;
        color: #ffffff;
        font-family: 'Poppins';
        font-weight: 700;
        text-shadow: 4px 3px 5px #000000;
        text-align: center;
        display: none;
    }
    .parag2{
        font-size: 20px;
        font-family: 'Poppins';
        font-weight: 500;
        color: #ffffffcc;
        text-align: center;
        display: none;
    }

    .img-container{
        margin-right: 150px ;
    }

    .hero-img img{
        width: 400px;
    }

.section-1{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: #ffffff;
}

.rgpv-notes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 130px 30px;

}
.rgpvnotes{
    font-size: 35px;
    font-family: 'Poppins';
    color: #2c4964;
    margin: 12px 0;
}
.text-rgpv i{
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 0;
    color: #444444;
}

 .text-rgpv p{
    font-size: 16px;
    color: #444444;
    margin: 10px 0;
    font-family: 'Poppins';
}

.section-3{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.container{
    width: 100%;
    background-color: #2222;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins';
    justify-content: space-around;
}
.box{
    width: 355px;
    height: 397px;
    background-color: #ffffff;
    padding: 70px 20px 80px;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    transition: .4s ease all;
}

.box:hover{
     box-shadow: 0px 1px 20px black;

     .icon{
        background-color: blue;
        color: #ffffff;
     }
}


.icon{
    width: 81px;
    height: 82px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30% 70% 65% 35% / 30% 30% 70% 70% ;
    margin: 10px auto;
    transition: .2s ease all;
}

.icon i{
    font-size: 40px;
}

.S3-text{
    color: #2c4964;
    font-size: 23px;
    margin-bottom: 6px;
}
.s3-parag{
    font-size: 15px;
    color: #444444;
}

.menu-btn{
    font-size: 25px;
    color: #ffffff;
    display: none;
}
#checkBtn{
    display: none;
}

@media (max-width:1011px){
    nav ul{
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: #1806b9cc;
        height: 100vh;
        display: block;
        width: 100%;
        text-align: center;
        transition: .4s ease;
    }
    nav ul li{
        margin: 50px 0;
    }
   
    nav ul li a{
        color: #ffffff;
        text-decoration: none;
        font-family: 'Poppins';
        padding: 0px 0 0px 0px;
        font-size: 18px;
       }
       
       nav ul li .border-active{
        margin: 0 30px;    
       }
       nav ul li a:hover{
        color: #ff9d00;
        border: 1px solid #fff;
        padding: 8px 24px;
        border-radius: 5px;
       }

       
.menu-btn{
    display: block;
    margin-right: 5px ;
}
#checkBtn:checked ~ ul{
    left: 0;
}
}

@media only screen and (max-width:1010px){
.second-section{
   flex-direction: column;
}
header{
    justify-content: space-between;
}

.text{
    margin-left: 0 ;
    margin-top: 100px;
}
.logo img{
    margin-left: 30px;
}

}



@media only screen and (max-width:700px){
    .h1-text{
        font-size: 40px;
    }
}

@media only screen and (max-width:700px){
    .h1-text{
        display: none;
    }
    .parag{
        display: none;
    }
    .h1-text2{
        display: block;
    }
    .parag2{
        display: block;
    }

    .img-container{
    margin-right: 0 ;
    }

    .rgpv-notes{
        flex-direction: column;
    }
    .right-img{
        margin-top: 60px;
    }
}

@media only screen and (max-width:420px){
    
    .hero-img img{
        width: 300px;
    }

    
.box{
    width: 300px;
    height: 397px;
}
      
.menu-btn{
  margin-left: 3rem;
}
}


@media only screen and (max-width:355px){
      .logo img{
        margin-left: 10px;
      } 
 .rgpv-notes{
    margin: 0;
 }
 .h1-text2{
      font-size: 40px;
}
.parag2{
    font-size: 15px;
    margin-top: 7px;
}
 
.hero-img img{
    width: 300px;
}

.rgpv-notes{
    padding: 130px 10px;
}

}